In [1]:
import json
import pandas as pd

In [2]:
with open('../data/df_repos_metadata_star_0_to_22196.json', 'r') as file: # JSON file is loaded and it contents saved within a variable
    loaded_data = json.load(file)

df = pd.DataFrame(loaded_data)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 591 entries, 0 to 590
Data columns (total 31 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 591 non-null    int64
 1   name               591 non-null    object
 2   full_name          591 non-null    object
 3   html_url           591 non-null    object
 4   description        579 non-null    object
 5   url                591 non-null    object
 6   labels_url         591 non-null    object
 7   created_at         591 non-null    object
 8   updated_at         591 non-null    object
 9   pushed_at          591 non-null    object
 10  size               591 non-null    int64
 11  stargazers_count   591 non-null    int64
 12  watchers_count     591 non-null    int64
 13  language           591 non-null    object
 14  has_issues         591 non-null    bool
 15  has_projects       591 non-null    bool
 16  has_downloads      591 non-null    bool
 17  has_wiki           591 non-null    bool
 18  has_pages          591 non-null    bool
 19  has_discussions    591 non-null    bool
 20  forks_count        591 non-null    int64
 21  open_issues_count  591 non-null    int64
 22  license            547 non-null    object
 23  allow_forking      591 non-null    bool
 24  topics             591 non-null    object
 25  visibility         591 non-null    object
 26  forks              591 non-null    int64
 27  open_issues        591 non-null    int64
 28  watchers           591 non-null    int64
 29  default_branch     591 non-null    object
 30  score              591 non-null    float64
dtypes: bool(7), float64(1), int64(9), object(14)
memory usage: 115.0+ KB

In [4]:
with open('../data/df_repos_metadata_star_up_to_max.json', 'r') as file: # JSON file is loaded and it contents saved within a variable
    loaded_data = json.load(file)

df2 = pd.DataFrame(loaded_data)

In [6]:
df2.describe()

,id,size,stargazers_count,watchers_count,forks_count,open_issues_count,forks,open_issues,watchers,score
count,1.050000e+03,1.050000e+03,1050.000000,1050.000000,1050.000000,1050.000000,1050.000000,1050.000000,1050.000000,1050.0
mean,2.842129e+08,1.316390e+05,21701.457143,21701.457143,3555.066667,375.716190,3555.066667,375.716190,21701.457143,1.0
std,2.800213e+08,4.986652e+05,29908.569921,29908.569921,5971.414570,1003.159613,5971.414570,1003.159613,29908.569921,0.0
min,2.655400e+04,7.000000e+00,7193.000000,7193.000000,108.000000,0.000000,108.000000,0.000000,7193.000000,1.0
25%,4.880424e+07,5.378500e+03,8829.500000,8829.500000,989.000000,56.000000,989.000000,56.000000,8829.500000,1.0
50%,1.615837e+08,2.407950e+04,12306.500000,12306.500000,1814.000000,139.500000,1814.000000,139.500000,12306.500000,1.0
75%,5.702785e+08,8.391375e+04,21947.250000,21947.250000,3423.000000,331.000000,3423.000000,331.000000,21947.250000,1.0
max,9.548733e+08,1.087097e+07,335520.000000,335520.000000,49242.000000,16073.000000,49242.000000,16073.000000,335520.000000,1.0

In [10]:
len(df2[df2['stargazers_count'] > 21947])

263

In [15]:
df2 = df2[df2['stargazers_count'] > 21947]

In [16]:
len(df2)

263

In [17]:
df_repos = pd.concat([df, df2])

In [18]:
len(df_repos)

854

In [19]:
df_cleaned = df_repos.drop_duplicates(subset=['full_name'])

In [20]:
len(df_cleaned)

821

In [11]:
with open('../data/df_repos_metadata.json', 'r') as file: # JSON file is loaded and it contents saved within a variable
    loaded_data = json.load(file)

df3 = pd.DataFrame(loaded_data)

In [12]:
len(df3)

821